body {
    font-family: sans-serif;
    background-image: url("assets/dirtscreen.png");
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0px 120px;
    padding-bottom: 10%;
  }
  h1 {
    color: rgb(0, 0, 0);
  }
  header {
    padding: 20px;
    background-image: url("assets/stone.png");
    text-align: center;
  }
  h2 {
    color: rgb(0, 0, 0);
  }
  h3 {
    color: rgb(184, 177, 89);
    margin: 10px 40px;
  }
  h4 {
    color: rgb(165, 165, 165);
    margin: 10px 20px;
  }
  h5 {
    color: rgb(165, 165, 165);
    margin: 10px 20px;
  }
  h6 {
    color: rgb(165, 165, 165);
    margin: 0px 0px;
  }
  a {
     color: #8496cf;
  } 
   a:hover {
    color: #54628d;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(assets/stone.png);
    text-align: center;
    padding: 16px 0px;
  }
  .game {
    display: flex;
    align-items: center;
    justify-content: center;
  }