        body {
			font-family: verdana, sans-serif;
			margin: 0;
			background: linear-gradient(#4C4C4C, #F2F2F2, #4C4C4C);
			background-repeat: repeat; 
			padding-top: 88px;
			height: 100vh;
        }
		nav {
			
			display: flex;
			width: 640px;
			margin: 0 auto;
			height: 100%;
		}
		header nav a{
			height: 32px;
			background: linear-gradient(#BEE8ED,#52A1AC 75%,#61BFCC);
			box-shadow: 0px 4px 6px #494949;
			text-align: center;
			color: black;
			margin-right: 4px;
			text-decoration: none;
		}
		header nav a:hover{
			background: linear-gradient(#CDF7FC,#61B0BB 75%,#70CEDB);
			font-size: 16px;
		}
		header nav h5{
			width: 100px;
			margin: auto 20px;
		}
		header nav img{
			position: relative;
			bottom: 80px;
		}
		ul{
			padding-top:10px;
			background: linear-gradient(#fff,#ffffff55 25%);
			width: 540px;
			padding-left:50px;
			padding-right:50px;
			height: 100%;
			line-height: 12px;
			box-shadow: 0px 4px 6px #494949;
		}